/* Custom Scroll Bar */

::-webkit-scrollbar {
  width: 8px;
  padding: 2.5px;
}

::-webkit-scrollbar-track {
  background: #19181a;
}

::-webkit-scrollbar-thumb {
  background: #d61522;
  border-radius: 6px;
  border: #26262a 1px solid;
}

/* Navigation Bar */

.navigation {
  width: 100%;
  height: 8vh;
  background-color: #19181a;
  padding: 0 5%;
  position: fixed;
  z-index: 99;
}

.nav-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-container > div {
  display: flex;
}

.nav-container > a {
  color: #dfdfdf;
  text-decoration: none;
}

.nav-container div > a {
  cursor: pointer;
  color: #dfdfdf;
  font-size: 0.8em;
  text-decoration: none;
  padding: 0 10px;
}
